<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<title>
    Simple Node Server
</title>
<link rel="stylesheet" href="/css/main.css">
<body>
<%- include('header.html') -%>
<h1>
    Hello dear visitor!
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus similique quas, magnam, quidem vitae libero provident, adipisci suscipit iure voluptas assumenda pariatur deleniti impedit numquam quam repudiandae? Ducimus, dignissimos praesentium!
</p>
<a href="/about">About us</a>
</body>
</html>
