<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<title>
    Simple Node Server
</title>
<link rel="stylesheet" href="/css/main.css">
<body>
<%- include('header.html') -%>
<h1>
    User page: <%= username %> who have id: <%= user_id %>
</h1>
<p>
    8 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab possimus, sapiente modi mollitia expedita at. Rerum neque quas sunt, earum, incidunt cumque optio doloribus distinctio illo quae hic itaque illum.
</p>
<ul>
    <% hobbies.forEach((el) => { %>
        <li><%= el %></li>
    <% }) %>
</ul>
<a href="/">Main page</a>
</body>
</html>
